.env
wp-content/themes/twentytwentyfive
wp-content/themes/twentytwentyfour
wp-content/themes/twentytwentythree
wp-content/themes/barbecho-productions/node_modules
wp-content/themes/barbecho-productions/dist
