/**
https://artofstyleframe.com/tools/spacing-scale-generator/
base uni:8px; steps: 12; Modular (ratio); Golden ratio
**/

$space-1: 0.5rem; /* 8px */
$space-2: 0.813rem; /* 13px */
$space-3: 1.313rem; /* 21px */
$space-4: 2.125rem; /* 34px */
$space-5: 3.438rem; /* 55px */
$space-6: 5.563rem; /* 89px */
$space-7: 9rem; /* 144px */
$space-8: 14.5rem; /* 232px */
$space-9: 23.5rem; /* 376px */
$space-10: 38rem; /* 608px */
$space-11: 61.5rem; /* 984px */
$space-12: 99.5rem; /* 1592px */
