@use "sass:map";
@use '../config/' as *;

.hero {
    height: calc(100dvh - $header-height);
    position: relative;
    &__title {
        font-size: 15rem;
        font-family: 'CabinetGrotesk-Black', 'Times New Roman', Times, serif;
        position: relative;
    }
    &__vertical-line {
        background-color: map.get($colors, 'background');
        height: 100vh;
        width: $line-width;
        left: -50px;
        top: 0;
        position: absolute;
    }
}
