@use "sass:map";
@use '../config' as *;

body {
    color: map.get($colors, 'background');
    font-family: $base-font-family;
    line-height: $base-line-height;
    min-height: 100dvh;
    text-size-adjust: none;
    font-family: 'CabinetGrotesk-Regular', 'Times New Roman', Times, serif;
    background-color: map.get($colors, 'brand');
    @include font-size($base-font-size);
    &.menu-open {
        overflow: hidden;
    }
}

/**
 * Variables
 */

body {
    --section-vertical-padding: 75px;
    @include resp-max($breakpoint-sm) {
        --section-vertical-padding: 25px;
    }
}
